
body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #fff;
    margin-bottom: 10px;
}

h3 {
    font-size: .8rem;
}

.button {
    border: solid 1px;
    border-radius: 10px;
    background-color: aquamarine;
    max-height: 35px;
  }


